.about {
  position: relative;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .about-img {
    position: relative;
    z-index: 2;
  }

  .right {
    .title {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
    }

    .text {
      display: block;
      font-family: Montserrat;
      font-weight: 300;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: rgba(255, 255, 255, 0.95);
      margin-top: 5px;
    }

    .about-img-inside {
      display: none;
    }

    .description {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0%;
      color: white;
      margin-top: 42px;
      width: 630px;
    }

    .about-btn {
      margin-top: 30px;
    }
  }

  .about-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

@media (max-width: 391px) {
  .about {
    flex-direction: column;
    padding: 0 1rem;
    margin-top: 50px;

    .about-img {
      display: none;
    }

    .right {
        display: flex;
        flex-direction: column;
      .title {
        display: none;
      }

      .text {
        display: none;
      }

      .about-img-inside {
        width: 100%;
        height: auto;
        display: block;
      }

      .description {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        width: 352px;
        margin-top: 50px;
        line-height: 20px;
        text-align: justify;
      }

      .about-btn {
        margin-top: 30px;
        align-self: center;
      }
    }

    .about-line {
      display: none;
    }
  }
}
