.banner {
    padding: 50px 0;
  .text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 13%;
    color: white;
    text-align: center;
  }
}

@media (max-width: 391px) {
  .banner {
    padding: 30px 0;
    .text {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 13%;
      color: white;
      text-align: center;
    }
  }
}
