.footer {
  margin-top: 120px;
  display: flex;
  flex-direction: column;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    position: relative;

    .footer-line-2 {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }

    .footer-line-mobile {
      display: none;
    }

    .col {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0;
      padding: 0;
      .footer-link {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: none;
        color: white;
      }
    }

    .col-2 {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0;
      padding: 0;
      .text {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: none;
        color: white;
      }
      .social {
        margin-top: 20px;
        display: flex;
        gap: 16px;
      }

      .all-btn {
        margin-top: 30px;
      }
    }
  }

  .footer-boom-line {
    margin-top: 80px;
  }
}

@media (max-width: 391px) {
  .footer {
    .container {
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-bottom: 60px;

      .footer-line-2 {
        display: none;
      }

      .footer-line-mobile {
        display: block;
        width: 100%;
        position: absolute;
        top: -20px;
        left: -10px;
      }
      .footer-line-1 {
        display: none;
      }

      .col {
        display: none;
      }

      .col-2 {
        .text {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          margin-top: 60px;
        }
      }
    }

    .footer-bottom-line {
      width: 289px;
    }
  }
}
