@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #302c42;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
}

h1,
h2,
h2,
h4,
p {
  margin: 0;
  padding: 0;
}

.all-btn {
  padding: 17px 40px;
  border-radius: 40px;
  border: none;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  background: linear-gradient(to right, #8176af, #c0b7e8);
  color: #343045;
  transition: all 0.3s ease;
  cursor: pointer;
}

.all-btn:active {
  transform: scale(0.95);
}

// same top

.same-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  .left {
    .title {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
    }

    .text {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
      margin-top: 10px;
      gap: 30px;
      display: flex;
      align-items: center;
    }
  }

  .text-right {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    width: 652px;
  }
}

@media (max-width: 391px) {
  .same-top {
    margin-top: 60px;
    .left {
      width: 100%;
      .title {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-align: center;
      }

      .text {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0%;
        justify-self: center;
        margin-top: 16px;
      }

      .same-img {
        display: none;
      }
    }

    .text-right {
      display: none;
    }
  }
}
