.join {
  margin-top: 100px;

  .container {
    position: relative;
    z-index: 2;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 80px;
    border-radius: 100px;
    .title {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
      margin: 0;
    }

    .join-line {
      margin-top: 30px;
    }

    .text {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
      margin-top: 20px;
    }

    .row {
      width: 100%;
      max-width: 1058px;
      margin: 0 auto;
      margin-top: 65px;
      display: flex;
      align-items: center;
      gap: 10px;

      .same {
        width: 100%;
        height: 72px;
        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 40px;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: white;
        padding: 0 42px;
        outline: none;
      }
    }

    .row-2 {
      margin-top: 40px;
    }

    .inp-5 {
      width: 100%;
      max-width: 1058px;
      margin: 0 auto;
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
      height: 72px;
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 40px;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
      padding: 0 42px;
      outline: none;
    }

    .inp-6 {
      width: 100%;
      max-width: 1058px;
      margin: 0 auto;
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
      height: 210px;
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 40px;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
      padding: 0 42px;
      text-align: start;
      outline: none;
    }

    .join-btn {
      margin-top: 50px;
    }
  }
}

@media (max-width: 391px) {
  .join {
    padding: 0 1rem;
    .container {
      border-radius: 40px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 45px;
      padding-bottom: 65px;

      .title {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
      .join-line {
        margin-top: 20px;
        width: 116px;
      }

      .text {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 20px;
        text-align: center;
      }
      .row {
        flex-direction: column;
        gap: 20px;

        .same {
          height: 53px;
        }
      }

      .row-2 {
        margin-top: 20px;
      }

      .inp-5 {
        margin-top: 20px;
        height: 53px;
      }

      .inp-6 {
        margin-top: 20px;
        height: 200px;
        padding-bottom: 130px;
      }

      .join-btn {
        margin-top: 52px;
        width: 100%;
      }
    }
  }
}
