.try-it {
  position: relative;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .try-it-card {
    position: relative;
    z-index: 2;
    width: 310px;
    height: max-content;
    background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

    .title {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
      margin: 0;
      margin-top: 21px;
    }

    .line {
      display: block;
      width: 150px;
      height: 1px;
      background-color: #c0b7e854;
      margin-top: 18px;
    }

    .text {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0%;
      color: white;
      text-align: center;
      margin-top: 20px;
    }

    .try-it-btn {
      margin-top: 35px;
    }
  }

  .try-it-line {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

@media (max-width: 391px) {
  .try-it {
    padding: 0 1rem;
    overflow-x: scroll;
    gap: 20px;
    margin-top: 50px;
    .try-it-card {
      min-width: 100%;
      height: max-content;
      background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;

      .title {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: white;
        margin: 0;
        margin-top: 21px;
      }

      .line {
        display: block;
        width: 150px;
        height: 1px;
        background-color: #c0b7e854;
        margin-top: 18px;
      }

      .text {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
        color: white;
        text-align: center;
        margin-top: 20px;
      }

      .try-it-btn {
        margin-top: 35px;
      }
    }

    .try-it-line {
      display: none;
    }
  }
}
