@forward "./global";
@forward "./header.scss";
@forward "./about.scss";
@forward "./try-it.scss";
@forward "./technologies.scss";
@forward "./design-proces.scss";
@forward "./join.scss";
@forward "./footer.scss";
@forward "./banner.scss";

